<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util
   		   http://www.springframework.org/schema/util/spring-util.xsd">


    <!-- ENTER BEANS HERE    -->
    <bean id="Student" class="org.genSpark.Student">
        <property name="name" value="Affan"/>
        <property name="id" value="9999"/>
        <property name="address" ref="Address"/>
        <property name="ph">
            <list>
                <bean id="Phone" class="org.genSpark.Phone">
                    <property name="mob" value="111-111-1111"/>
                </bean>
                <bean id="Phone2" class="org.genSpark.Phone">
                    <property name="mob" value="222-222-2222"/>
                </bean>
                <bean id="Phone3" class="org.genSpark.Phone">
                    <property name="mob" value="333-333-3333"/>
                </bean>
            </list>
        </property>
    </bean>


    <bean id="Address" class="org.genSpark.Address">
        <property name="city" value="Chicago"/>
        <property name="state" value="IL"/>
        <property name="country" value="USA"/>
    </bean>


</beans>